/**
*-------------------------------------------
* DomGrid.css
*-------------------------------------------
* @version 2.4
* @createAt 28.02.2022 17:14
* @author NetCoDev
*-------------------------------------------
**/
/* Grid dom element structure */
.grid-container {width: calc(100% - 120px);margin: 0 auto;}
.grid-container.grid-content {width: calc(100% - 40px);margin: 0 auto;padding:30px 0;}
.grid-container.grid-modal {width: calc(100% - 10px);margin: 0 auto;padding:0;}
.grid-container .row {width: 100%;display: flex;flex-wrap: wrap;margin: 0;padding: 0;}
.grid-container .space-top {padding-top: 10px !important;}
.grid-container .space-bottom {padding-bottom: 10px !important;}
.grid-container .col-12,.col-11,.col-10,
.grid-container .col-9,.col-8,.col-7,
.grid-container .col-6,.col-5,.col-4,
.grid-container .col-3,.col-2,.col-1 {margin: 0;padding: 0;}
.grid-container .col-12 {width: 100%;;}
.grid-container .col-11 {width: calc((100% / 12) * 11);}
.grid-container .col-10 {width: calc((100% / 12) * 10);}
.grid-container .col-9 {width: calc((100% / 12) * 9);}
.grid-container .row .col-8.col-space-right {width: calc((100% / 12) * 8 - 10px);margin-right: 10px;}
.grid-container .col-8 {width: calc((100% / 12) * 8);}
.grid-container .col-7 {width: calc((100% / 12) * 7);}
.grid-container .row .col-6.col-space-right {width: calc((100% / 12) * 6 - 10px);margin-right: 10px;}
.grid-container .col-6 {width: calc((100% / 12) * 6);}
.grid-container .row .col-5.col-space-right {width: calc((100% / 12) * 5 - 10px);margin-right: 10px;}
.grid-container .col-5 {width: calc((100% / 12) * 5);}
.grid-container .col-4 {width: calc((100% / 12) * 4);}
.grid-container .col-3 {width: calc((100% / 12) * 3);}
.grid-container .col-2 {width: calc((100% / 12) * 2);}
.grid-container .col-1 {width: calc((100% / 12) * 1);}
/* Grid modal structure */
#gridModal { display: none; position: absolute; top:0; width: 100%; z-index:1000;font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
#grid-modal-bg { display: block; position: absolute; width: 100%; height: 600px; background-color: rgba(255, 255, 255, 0.5); z-index:1; }
#grid-modal-container { display: block; position: absolute; width: 600px !important; top: 200px; left: 50%; margin-left: -300px; width: 100%; border: 1px solid black; z-index:2;background-color: #e5e5e5; }
#grid-modal-container.w800 { width: 800px !important; margin-left: -400px !important; }
#gridModal .grid-modal-head,
#gridModal .grid-modal-footer { width: 100%; background-color: #333; color: #e5e5e5; }
#gridModal .grid-modal-head .title{ line-height: 2em; padding-left: 10px; font-weight: bold; }
#gridModal .grid-modal-footer {display: flex;justify-content: space-between;}
#gridModal .grid-modal-body { padding: 30px 0; background-color: #e5e5e5; overflow-y: auto;}
#gridModal .grid-modal-body .modal-body-container { padding: 10px; }
/* Grid datepicker structure */

/* Grid dataTable structure */
.dataTable { width: 100%; overflow: hidden; border: 1px solid #ccc; }
.dataTable-toolbar,
.dataTable-header-toolbar,
.dataTable-content-toolbar,
.col-header,
.col-search,
.col-search button,
.dataTable-table th.th-sticky,
.dataTable-table td.td-sticky,
.dataTable-table td {font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
/* -------------- ToolBar -------------- */
.dataTable-toolbar { display: flex; width: 100%; height: 27px; background-color: #666; border-bottom: 1px solid #666; z-index:2; }
.dataTable-content-info {width: 120px;line-height : 1.5rem;text-align: center;font-size:11px;color: #fff;}
.dataTable-toolbar button {height: 27px;margin:0;padding:0 10px;line-height: 1rem;cursor: pointer;border: 0;}
.dataTable-toolbar button.btn-green:hover {background-color: rgba(4, 180, 4, 0.7);}
.dataTable-toolbar button svg use {fill: #ccc !important;}
.dataTable-toolbar button:hover svg use {fill: #fff !important;}
.dataTable-toolbar button .svg-wrapper {padding-top: 2px;}
.dataTable-toolbar button .svg-wrapper svg {width: 18px;height: 18px;}
.dataTable-toolbar .inpt-content-length {width: 80px;text-align: center;}
.dataTable-toolbar .inpt-step {width: 60px;text-align: right;padding-right: 3px;}
.dataTable-toolbar .btn-green {background-color: #04B404;color: #fff;border-left: 1px solid #ccc;border-right: 1px solid #e5e5e5;}
.dataTable-toolbar .btn-blue {background-color: #2E9AFE;color: #fff;border-left: 1px solid #ccc;border-right: 1px solid #e5e5e5;}
.dataTable-toolbar .dataTable-search-wrapper-str,
.dataTable-toolbar .dataTable-search-wrapper-date {display: none;min-width: 150px;height: 27px;background-color: #2E9AFE;color: #fff;}
.dataTable-toolbar .dataTable-search-wrapper-str.active,
.dataTable-toolbar .dataTable-search-wrapper-date.active {display: flex;}
.dataTable-toolbar .dataTable-search-wrapper-date {position: relative;background-color: #2E9AFE;color: #fff;}
.dataTable-toolbar .dataTable-search-wrapper-date > span {padding: 0 3px;}
.dataTable-toolbar .dataTable-search-wrapper-date .date-menu {display: none;position: absolute;top: 27px;z-index:2;white-space: nowrap;}
.dataTable-toolbar .dataTable-search-wrapper-date input[type="text"] {width: 80px;border:0;}
.dataTable-toolbar .dataTable-search-wrapper-str input[type="text"] {width: 130px;border:0;}
.dataTable-toolbar .dataTable-search-wrapper-str .btn-search,
.dataTable-toolbar .dataTable-search-wrapper-date .btn-search {padding: 3px 5px 0 5px;cursor: pointer;}
.dataTable-toolbar .dataTable-search-wrapper-str .btn-search svg,
.dataTable-toolbar .dataTable-search-wrapper-date .btn-search svg {fill: #fff !important;}
.dataTable-toolbar .dataTable-search-wrapper-str span.txt-global,
.dataTable-toolbar .dataTable-search-wrapper-date span.txt-global {padding-top: 6px;padding-right: 6px;font-size: 12px;}
.dataTable-toolbar button.hide {display: none;}
/* -------------- Dropdown -------------- */
.dataTable-col-toggle-wrapper {position: relative;margin:0;padding:0;}
.dataTable-col-toggle-list {position: absolute;width: 180px;height: 230px;overflow: auto;z-index: 2;background-color: transparent;display: none;}
.dataTable-col-toggle-list.toggle-top {top: 27px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;}
.dataTable-col-toggle-list.toggle-bottom {bottom: 27px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-top: 1px solid #ccc;}
.dataTable-col-toggle-list > div {display: flex;justify-content: space-between;padding: 3px 5px;border-bottom: 1px solid #ccc;background-color: #f5f5f5;cursor: pointer;font-size: 11px;}
.dataTable-col-toggle-list > div:hover {background-color: #666;color: #fff;}
/* -------------- Table -------------- */
.dataTable-wrapper {position: relative;width: 100%;height: 500px;background-color: #fff;overflow: scroll;z-index:1;}
.dataTable-table {display: table;margin: 0;padding: 0;border-collapse: separate;border-spacing: 0;}
.dataTable-table th {height: 27px;position: sticky;top: 0;background-color: #f5f5f5;white-space:nowrap;font-size: 11px;}
.dataTable-table thead .col-header-wrapper {display:flex; justify-content:space-between;height:27px;width: 100%;text-align: center;}
.dataTable-table th, .dataTable-table td {border-right: 1px solid black;border-bottom: 1px solid black;text-align: center;}
.dataTable-table th.th-sticky {top:0;left:0;background-color: #666;color: #fff;z-index: 100;}
.dataTable-table td {white-space:nowrap;background-color: #fff;height: 27px;text-align: center;padding: 0 10px;}
.dataTable-table td.td-sticky {position: sticky;left: 0;background-color: #666;color: #fff;font-size: 11px;}
.dataTable-table td.td-sticky span.rowIndex {padding-top: 3px;padding-right: 10px;}
.col-header {cursor: pointer;}
.col-header-label {margin: 0 auto;padding:0 10px;line-height: 1.6rem;}
.dataTable-content .data-row:hover td.data-col,
.dataTable-content .data-row.active td.data-col{background-color: #2E9AFE;color: #fff;cursor: pointer;}
.dataTable-content .data-row:hover td.td-sticky {color: rgb(47, 172, 255);}
/* -------------- Order item box -------------- */
.order-box-container {display:flex;flex-wrap:wrap;width:10px;height:23px;padding-top: 2px;}
.order-box-container span {margin:0;padding:0;height: 10px;}
.order-box-container svg:first-child {margin-bottom:1px;}
.order-box-container .svg-arrow use {fill: #666 !important;}
.order-box-container .svg-arrow-item.active .svg-arrow use {fill: #30bf2d !important;}
/* -------------- SideNavi -------------- */
.grid-sidenavi {
    --container-top: 120px;
    --container-width: 410px;
    --container-height: 200px;
    --container-posx: -370px;
    --ul-width: 40px;
    --li-height: 39px;
    --li-bgc: #000;
    --li-item-bgc: #0d6efd;
    --li-item-color: #fff;
    --content-width: 370px;
    --content-bgc: #4c5367;
    --content-page-color: #9fa9b7;
    --content-page-padding: 10px;
}
.grid-sidenavi,
.grid-sidenavi ul,
.grid-sidenavi ul li {margin:0;padding:0;}
.grid-sidenavi {position:fixed;z-index: 99999;}
.grid-sidenavi  {width: var(--container-width);height: var(--container-height);top: var(--container-top);}
.grid-sidenavi.left {left: var(--container-posx);}
.grid-sidenavi.right {right: var(--container-posx);}
.grid-sidenavi ul {width: var(--ul-width);list-style:none;}
.grid-sidenavi ul li {width: var(--ul-width);height: var(--li-height);background-color: var(--li-bgc);margin-bottom: 1px !important}
.grid-sidenavi .sidenavi-content {overflow:hidden;width: var(--content-width);height: var(--container-height);margin: 0;padding: 0;background-color: var(--content-bgc);}
.grid-sidenavi .sidenavi-content .content-page {display: none;padding: var(--content-page-padding);color: var(--content-page-color);}
.grid-sidenavi .sidenavi-content .content-page.active {display: block;}
.grid-sidenavi .sidenavi-menu li.btn-slide .btn-slide-item {line-height: 2.5em;cursor: pointer;text-align: center;color: var(--li-item-color);background-color: var(--li-item-bgc);width: var(--li-height);height: var(--li-height);}
.grid-sidenavi.left .sidenavi-menu,
.grid-sidenavi.right .sidenavi-content,
.grid-sidenavi.left .sidenavi-menu li.btn-slide .btn-slide-item {float: right;}
.grid-sidenavi.right .sidenavi-menu,
.grid-sidenavi.left .sidenavi-content,
.grid-sidenavi.right .sidenavi-menu li.btn-slide .btn-slide-item {float: left;}
/* -------------- Button btn -------------- */
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {color: #fff;background-color: #0d6efd;border-color: #0d6efd;}
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}