.order-box-container {
  display: flex;
  flex-wrap: wrap;
  width: 10px;
  height: 23px;
  padding-top: 2px;

  span {
    margin: 0;
    padding: 0;
    height: 10px;
  }

  svg:first-child {
    margin-bottom: 1px;
  }

  .svg-arrow use {
    fill: #666 !important;
  }

  .svg-arrow-item.active .svg-arrow use {
    fill: #30bf2d !important;
  }
}